.mainBrands{
    display: flex;
    flex-direction: column;
    flex-basis: 85%;
    padding: 10rem;
    background-color: #f5f5f5;
    .titleBrands{
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;
h1{
    font-family: 'Spectral';
}
    }
    .cardsBrands{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5rem;
        .cardBrand{
           border: 0.2rem solid $secondary-color;
            height: 20rem;
            img{
                background-color: #E2E2E2;
                height: 100%;
            }
        }
    }
}