.container-corsellmobile{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.div-header-corsellmobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 4% 40%;
    text-align: center;
    font-weight: 600;
    padding: 3rem 0;
    .title-corsellmobile {
        p {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}
.bottom-corsellMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    font-size: 2rem;
    font-weight: 600;
    .svg-div-bottom-cossellMobile {
        display: flex;
        
        div{
            margin:2rem 4rem;
            
        }

    }
}
