.espaceUser-container {
    padding: 6rem 6rem;
    padding-left: 36rem;
    position: relative;

    .espaceUser-title {
        position: absolute;
        left: 2%;
        top: 10%;
        width: auto;
        h1 {
            font-family: $text_font;
            font-size: 2rem;
            text-align: center;
        }
        .avatar-user {
            max-width: 25rem;
            max-height: 25rem;
            img {
                width: 100%;
                border: solid 0.2rem $secondary_color;
            }
        }
    }
    .baniere-Usercategories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .user-category {
            display: flex;
           width:  35rem ;
           height: 10rem;
            margin-top: 2rem;
            margin-right: 5rem;
            background-color: $fonts_secondary_color;
            justify-content: space-around;
            border-radius: 1rem;
            border: solid 0.1rem $secondary_color;
            .img-Usercategory {
                display: flex;
                align-items: center;
                width: 7rem;
                height: 7rem;
                padding: 0.5rem;
                
                img {
                    width: 100%;
                    
                    border-radius: 1rem;
                }
            }
            .title-Usercategory {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: $text_font;
                flex-wrap: wrap;
                flex-basis: 60%;
                h2 {
                    margin: 0;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}
