.body-header-soft {
    position: relative;
    background-color: $primary-color;
    position: relative;
  }
  .header-header-soft {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: inherit;
      text-decoration: none;
    }
    .logout{
      position: absolute;
      margin: 1rem;
      align-self: flex-end;
    }
    .logout:hover{
      text-decoration: underline;
    }
    .logo-header-soft {
     
      width: 18rem;
  
      img {
        width: 100%;
      }
      .title-header-soft {
        h1 {
          font-size: 4rem;
          margin: 0;
        }
      }
    }
   
  }