body {
    position: relative;
}
header {
    a {
        color: inherit;
        text-decoration: none;
    }
    .logo {
        position: absolute;
        width: 12rem;
        top: 0.2rem;
        left: 0.2rem;
        img {
            width: 100%;
        }
    }
    .nav1 {
        padding: 2rem 13rem;
        a:hover {
            text-decoration: underline;
        }
        p {
            margin: 0;
        }

        display: flex;
        flex-wrap: wrap;

        color: $fonts_primary_color;
        justify-content: space-around;
        align-items: center;
        .title {
            h1 {
                font-size: 4rem;
                margin: 0;
            }
        }
        .search {
            width: 45rem;
            input {
                width: 100%;
                height: 3.5rem;
                border-radius: 0.5rem;
                border: 0.2rem solid $secondary_color;
            }
        }
        .bonjour {
            a {
                p {
                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        .panier {
            a {
                display: flex;
                flex-direction: row;
                p {
                    align-self: flex-end;
                    margin: 0 0 0.5rem 0;
                }
            }
        }
        .logout {
            display: flex;
            align-self: flex-end;
            margin-bottom: 0.5rem;
        }
        .note {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            cursor: pointer;
            svg:hover {
                color: #cf5a2b;
            }
        }
    }
    .nav2 {
        background-color: $secondary_color;
        color: $fonts_secondary_color;
        display: flex;
        justify-content: center;
        padding: 0 12rem;
        flex-wrap: wrap;
        a {
            margin-right: 5rem;
            p:hover {
                text-decoration: underline;
            }
        }
    }
   
}
@media only screen and (max-width: 768px) {
    .nav1{
        font-size: 1.5rem;
        form{
            margin-bottom: 1rem;
        }
    }
    .nav2{
        font-size: 1.5rem;
    }
      

  }