.categories-container {
    background-color: #f5f5f5;
    display: flex;

    .elements-container {
        padding: 10rem;
        flex-basis: 85%;
        background-color: #f5f5f5;
        .element-information {
            display: flex;
            flex-basis: 50%;
            figure {
                width: 60rem;
                img {
                    border: solid 1px $secondary_color;
                    width: 100%;
                }
            }

            .product-descriptif {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                flex-basis: 50%;
                h1 {
                    display: flex;
                    justify-content: center;
                }
                span {
                    display: flex;
                    justify-content: flex-end;
                    font-weight: bold;
                }
                .product-brand {
                    display: flex;
                    justify-content: space-between;
                    padding: 5rem 0;
                    a {
                        .brand-icon {
                            width: 8rem;
                            border: solid 1px $secondary_color;
                            border-radius: 0.5rem;
                        }
                        img {
                            width: 8rem;
                        }
                    }
                }
                .subProduct {
                    font-size: 2rem;
                    font-style: italic;
                }
                .subProduct:hover {
                    text-decoration: underline;
                }
            }
        }
        .product-footer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 4rem;
            a {
                display: flex;
            }
            .coffre {
                padding: 0.5rem 2rem;
                border-radius: 1rem;
                color: #f5f5f5;
                background-color: $secondary_color;
            }
        }
        .social-icons {
            display: flex;
            flex-direction: column;
            p {
                font-size: 2rem;
                font-style: italic;
            }
            .icons {
                display: flex;
                svg {
                    width: 5rem;
                    height: 5rem;
                    margin-right: 2rem;
                }
            }
        }
    }
}
