// Variables Couleurs :
$primary_color: rgba(181, 127, 65, 0.69);
$secondary_color : #063D40;
$terciery_color : #0A8F6E;

// Couleur Fonts :
$fonts_primary_color : #2D2D2D;
$fonts_secondary_color : #E8EAE6;

// Font family : 

$title_font:"Rakkas", cursive;
$text_font:"Spectral", serif;