/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%;
  height: 100%;
}

/* Sections
     ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rakkas", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  display: inline-block;
}

/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  font-size: 1.8rem;
  height: 100%;
  font-family: "Spectral", serif;
  background-color: rgba(181, 127, 65, 0.69);
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* arabic */
@font-face {
  font-family: "Rakkas";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Rakkas.woff2") format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Rakkas-latin-ext";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Rakkas_latin-ext.woff2") format("woff2");
}
/* latin */
@font-face {
  font-family: "Rakkas-latin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Rakkas_latin.woff2") format("woff2");
}
footer {
  background-color: #063D40;
  color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
footer .footer-block {
  margin-right: 10rem;
}
footer .footer-block a {
  color: inherit;
  text-decoration: none;
}
footer .footer-block .-title {
  font-size: 1.8rem;
  margin: 1.5rem 0;
  font-weight: 500;
}
footer .footer-block p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

body {
  position: relative;
}

header a {
  color: inherit;
  text-decoration: none;
}
header .logo {
  position: absolute;
  width: 12rem;
  top: 0.2rem;
  left: 0.2rem;
}
header .logo img {
  width: 100%;
}
header .nav1 {
  padding: 2rem 13rem;
  display: flex;
  flex-wrap: wrap;
  color: #2D2D2D;
  justify-content: space-around;
  align-items: center;
}
header .nav1 a:hover {
  text-decoration: underline;
}
header .nav1 p {
  margin: 0;
}
header .nav1 .title h1 {
  font-size: 4rem;
  margin: 0;
}
header .nav1 .search {
  width: 45rem;
}
header .nav1 .search input {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #063D40;
}
header .nav1 .bonjour a p span {
  font-weight: 600;
}
header .nav1 .panier a {
  display: flex;
  flex-direction: row;
}
header .nav1 .panier a p {
  align-self: flex-end;
  margin: 0 0 0.5rem 0;
}
header .nav1 .logout {
  display: flex;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
header .nav1 .note {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}
header .nav1 .note svg:hover {
  color: #cf5a2b;
}
header .nav2 {
  background-color: #063D40;
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  padding: 0 12rem;
  flex-wrap: wrap;
}
header .nav2 a {
  margin-right: 5rem;
}
header .nav2 a p:hover {
  text-decoration: underline;
}

.body-header-soft {
  position: relative;
  background-color: rgba(181, 127, 65, 0.69);
  position: relative;
}

.header-header-soft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-header-soft a {
  color: inherit;
  text-decoration: none;
}
.header-header-soft .logout {
  position: absolute;
  margin: 1rem;
  align-self: flex-end;
}
.header-header-soft .logout:hover {
  text-decoration: underline;
}
.header-header-soft .logo-header-soft {
  width: 18rem;
}
.header-header-soft .logo-header-soft img {
  width: 100%;
}
.header-header-soft .logo-header-soft .title-header-soft h1 {
  font-size: 4rem;
  margin: 0;
}

body {
  background-color: rgba(181, 127, 65, 0.69);
}

.home-container {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.home-container .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80rem;
}
.home-container .header-wrapper .header-img {
  display: flex;
  justify-content: center;
}
.home-container .header-wrapper .header-img img {
  border: 0.1rem solid #063D40;
  max-width: 100%;
}
.home-container .header-wrapper .cards-ban {
  transform: translateY(-20rem);
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home-container .header-wrapper .cards-ban .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 1rem;
  width: 30rem;
  height: 38rem;
  border: solid 0.2rem #063D40;
  background-color: white;
}
.home-container .header-wrapper .cards-ban .card h2 {
  margin: 1rem 0;
}
.home-container .header-wrapper .cards-ban .card .card-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 33, 3rem;
}
.home-container .header-wrapper .cards-ban .card .card-img img {
  border: 0.1rem solid #063D40;
  margin-top: 1rem;
  width: 13rem;
}
.home-container .banner {
  display: flex;
  justify-content: center;
  padding-bottom: 12rem;
  max-width: 100%;
}
.home-container .banner img {
  width: 100%;
  border: solid 0.1rem #063D40;
}
.home-container .home-category {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  width: 100%;
}
.home-container .home-category .cards-ban {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-around;
}
.home-container .home-category .cards-ban .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #2d2d2d;
  margin: 2rem 0;
  padding: 1rem;
  width: 30rem;
  height: 33rem;
  border: solid 0.2rem #063D40;
  background-color: white;
}
.home-container .home-category .cards-ban .card img {
  width: 20rem;
}
.home-container .card-line {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: white;
  padding: 4rem;
  margin: 10rem 0 16rem 0;
  width: 80%;
  border: solid 0.2rem #063D40;
}
.home-container .card-line h2 {
  width: 100%;
  margin-top: 0;
}
.home-container .card-line a img {
  width: 20rem;
  border: solid 0.1rem #063D40;
}

.categories-container {
  background-color: #f5f5f5;
  display: flex;
}
.categories-container .elements-container {
  padding: 10rem;
  flex-basis: 85%;
  background-color: #f5f5f5;
}
.categories-container .elements-container .element-information {
  display: flex;
  flex-basis: 50%;
}
.categories-container .elements-container .element-information figure {
  width: 60rem;
}
.categories-container .elements-container .element-information figure img {
  border: solid 1px #063D40;
  width: 100%;
}
.categories-container .elements-container .element-information .product-descriptif {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.categories-container .elements-container .element-information .product-descriptif h1 {
  display: flex;
  justify-content: center;
}
.categories-container .elements-container .element-information .product-descriptif span {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.categories-container .elements-container .element-information .product-descriptif .product-brand {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.categories-container .elements-container .element-information .product-descriptif .product-brand a .brand-icon {
  width: 8rem;
  border: solid 1px #063D40;
  border-radius: 0.5rem;
}
.categories-container .elements-container .element-information .product-descriptif .product-brand a img {
  width: 8rem;
}
.categories-container .elements-container .element-information .product-descriptif .subProduct {
  font-size: 2rem;
  font-style: italic;
}
.categories-container .elements-container .element-information .product-descriptif .subProduct:hover {
  text-decoration: underline;
}
.categories-container .elements-container .product-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}
.categories-container .elements-container .product-footer .price-wrapper .price {
  text-decoration: line-through;
}
.categories-container .elements-container .product-footer a {
  display: flex;
}
.categories-container .elements-container .product-footer a.coffre {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  color: #f5f5f5;
  background-color: #063D40;
}
.categories-container .elements-container .social-icons {
  display: flex;
  flex-direction: column;
}
.categories-container .elements-container .social-icons p {
  font-size: 2rem;
  font-style: italic;
}
.categories-container .elements-container .social-icons .icons {
  display: flex;
}
.categories-container .elements-container .social-icons .icons svg {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.social-faceborgne div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.social-faceborgne div h1 {
  margin: 0;
  font-family: "Spectral";
  font-size: 9.6rem;
  color: #2d2d2d;
}
.social-faceborgne div p {
  margin: 0;
  font-size: 3.6rem;
  color: #2d2d2d;
}

.social-coco {
  background-color: rgba(1, 171, 70, 0.69);
}
.social-coco div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.social-coco div h1 {
  margin: 0;
  font-family: "Spectral";
  font-size: 9.6rem;
  color: #2d2d2d;
}
.social-coco div p {
  margin: 0;
  font-size: 3.6rem;
  color: #2d2d2d;
}

.social-snapship {
  background-color: rgba(95, 168, 220, 0.69);
}
.social-snapship div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.social-snapship div h1 {
  margin: 0;
  font-family: "Spectral";
  font-size: 9.6rem;
  color: #2d2d2d;
}
.social-snapship div p {
  margin: 0;
  font-size: 3.6rem;
  color: #2d2d2d;
}

.social-construct div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.social-construct div img {
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.social-construct div h1 {
  margin: 0;
  font-family: "Spectral";
  font-size: 9.6rem;
  color: #2d2d2d;
}
.social-construct div p {
  margin-top: 10rem;
  font-size: 3.6rem;
  color: #2d2d2d;
}

.mainCategories {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.mainCategories .titleCategories {
  display: flex;
  justify-content: center;
}
.mainCategories .titleCategories h2 {
  font-size: 3.6rem;
}
.mainCategories .cardsCategories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 40rem;
}
.mainCategories .cardsCategories .cardCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  width: 22rem;
  height: 24rem;
  background-color: #f5f5f5;
  border: 0.2rem solid #063D40;
  position: relative;
}
.mainCategories .cardsCategories .cardCategory img {
  width: 12rem;
  height: 12rem;
}
.mainCategories .cardsCategories .cardCategory h2 {
  position: absolute;
  bottom: 0.5rem;
  font-size: 2rem;
  margin: 0;
  font-family: "Spectral", serif;
}

.categories-container {
  background-color: #f5f5f5;
  display: flex;
}
.categories-container .vertical-banner {
  padding: 3rem 0;
  background-color: rgba(181, 127, 65, 0.69);
  flex-basis: 15%;
}
.categories-container .vertical-banner .banner-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #063D40;
  height: 3rem;
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}
.categories-container .vertical-banner .banner-title p {
  margin: 0;
  color: #f5f5f5;
  text-align: center;
}
.categories-container .vertical-banner .category-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.categories-container .vertical-banner .category-title a {
  margin-left: 0.5rem;
}
.categories-container .vertical-banner .category-title a ul {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.categories-container .vertical-banner .category-title a ul:hover {
  font-size: 1.9rem;
}
.categories-container .vertical-banner .subcategory-title {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.categories-container .vertical-banner .subcategory-title a li:hover {
  text-decoration: underline;
}
.categories-container .elements-container {
  padding: 3rem;
  flex-basis: 85%;
  background-color: #f5f5f5;
}
.categories-container .elements-container .element-title h1 {
  margin: 0;
  color: #2d2d2d;
}
.categories-container .elements-container .element-title p {
  margin: 0.5rem 0;
}
.categories-container .elements-container .horizontal-banner {
  display: flex;
  flex-wrap: wrap;
}
.categories-container .elements-container .horizontal-banner .sub-title {
  width: 100%;
}
.categories-container .elements-container .horizontal-banner .sub-title h2 {
  color: black;
  width: 100%;
}
.categories-container .elements-container .horizontal-banner .elementcard {
  margin-right: 1rem;
}
.categories-container .elements-container .horizontal-banner .elementcard img {
  width: 20rem;
  border: 1px solid #063D40;
}
.categories-container .elements-container .horizontal-banner .elementcard p {
  text-align: center;
  font-weight: 600;
}
.categories-container .elements-container .horizontal-banner .other-products {
  font-size: 2.4rem;
  align-self: flex-end;
  margin-bottom: 5.2rem;
  color: #063D40;
}

.categories-container {
  background-color: #f5f5f5;
  display: flex;
}
.categories-container .elements-container {
  padding: 3rem;
  flex-basis: 85%;
  background-color: #f5f5f5;
}
.categories-container .elements-container .element-title h1 {
  margin: 0;
  color: #2d2d2d;
}
.categories-container .elements-container .element-title p {
  margin: 0.5rem 0;
}
.categories-container .elements-container .horizontal-banner h2 {
  color: black;
}

.container-subcategorydetail {
  min-width: 60%;
  display: flex;
  flex-direction: column;
}
.container-subcategorydetail .container-img-subcategorydetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-subcategorydetail .container-img-subcategorydetail a {
  margin-right: 3rem;
  flex-basis: 15%;
}
.container-subcategorydetail .container-img-subcategorydetail .div-subcategorydetail {
  position: relative;
}
.container-subcategorydetail .container-img-subcategorydetail .div-subcategorydetail h2 {
  text-align: center;
  margin: 0;
  padding: 1rem;
}
.container-subcategorydetail .container-img-subcategorydetail .div-subcategorydetail .img-subcategorydetail {
  width: 200px;
  border: solid black 2px;
}
.container-subcategorydetail .container-img-subcategorydetail .div-subcategorydetail .price-img-subcategorydetail {
  margin-right: 2rem;
  position: absolute;
  padding: 1rem;
  font-size: 2.2rem;
  top: -10px;
  left: -20px;
  background: #063D40;
  color: #F5F5F5;
  border: solid black 1px;
}
.container-subcategorydetail .container-img-subcategorydetail .div-subcategorydetail .price-promo-img-subcategorydetail {
  position: absolute;
  padding: 1rem;
  font-size: 2rem;
  top: -10px;
  left: -20px;
  background: #850000;
  color: #F5F5F5;
  border: solid black 1px;
  text-align: center;
}

.mainBrands {
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
  padding: 10rem;
  background-color: #f5f5f5;
}
.mainBrands .titleBrands {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.mainBrands .titleBrands h1 {
  font-family: "Spectral";
}
.mainBrands .cardsBrands {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.mainBrands .cardsBrands .cardBrand {
  border: 0.2rem solid #063D40;
  height: 20rem;
}
.mainBrands .cardsBrands .cardBrand img {
  background-color: #E2E2E2;
  height: 100%;
}

.brand-container {
  padding: 5rem 8rem;
  display: flex;
  flex-direction: column;
  flex-basis: 85%;
}
.brand-container .brand-title {
  display: flex;
  justify-content: center;
}
.brand-container .brand-title h1 {
  font-family: "Spectral";
}
.brand-container .brand-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.brand-container .brand-detail .brand-img {
  width: 25rem;
}
.brand-container .brand-detail .brand-img img {
  width: 100%;
  border: solid 0.2rem #063D40;
}
.brand-container .brand-detail .brand-description {
  padding: 5rem 25rem;
}

.alert {
  color: tomato;
  font-weight: 600;
}

.connexion-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-bottom: 10rem;
}
.connexion-container .element-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1rem;
  border: solid 0.2rem #063D40;
  padding: 2rem;
  width: 45rem;
  margin-bottom: 2rem;
}
.connexion-container .element-block h2 {
  font-family: "Spectral", sans-serif;
}
.connexion-container .element-block form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.connexion-container .element-block form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion-container .element-block form .form-group label {
  font-weight: 600;
  font-size: 2rem;
}
.connexion-container .element-block form .form-group input {
  margin: 1rem;
  width: 35rem;
  height: 3rem;
  border-radius: 1rem;
  border: solid 0.1rem #063D40;
}
.connexion-container .element-block form .form-group input:select {
  border: #2d2d2d;
  border-radius: 1rem;
}
.connexion-container .element-block form p {
  text-align: center;
  font-style: italic;
}
.connexion-container .element-block form p span {
  font-weight: 600;
}
.connexion-container .element-block form .p-reset:hover {
  text-decoration: underline;
}
.connexion-container .element-block form .btn-valid {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  background-color: #063D40;
  font-size: 2rem;
  width: 30rem;
  height: 4rem;
  border-radius: 1rem;
  border: solid 0.2rem #063D40;
}
.connexion-container .registration-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #063D40;
  background-color: #f5f5f5;
  font-size: 2rem;
  width: 30rem;
  height: 4rem;
  border-radius: 1rem;
  border: solid 0.2rem #063D40;
  margin: 2rem;
}

.main-registration {
  display: flex;
  justify-content: center;
}
.main-registration .div-p-title-registration {
  position: absolute;
  top: 4.5rem;
  right: 20%;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Spectral", serif, Courier, monospace;
  max-width: 32rem;
}
.main-registration .div-p-title-registration p {
  margin: 0;
}
.main-registration .container-form-registration {
  border: #063D40 solid 1px;
  border-radius: 10px;
  background-color: #F5F5F5;
  flex-basis: 50%;
  margin: 0rem 15rem 8rem 15rem;
  padding: 2rem;
  font-family: "Spectral", serif, Courier, monospace;
}
.main-registration .container-form-registration h1 {
  font-family: "Spectral", sans-serif;
  font-size: 2.8rem;
  margin: 2rem 3rem;
}
.main-registration .container-form-registration .form-registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.main-registration .container-form-registration .form-registration .divone-form-registration {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}
.main-registration .container-form-registration .form-registration .form-div-registration {
  border-radius: 10px;
  margin: 1rem;
  padding-right: 2rem;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
.main-registration .container-form-registration .form-registration .form-div-registration .label-form-div-registration {
  margin-bottom: 1rem;
  font-family: "Spectral", sans-serif;
}
.main-registration .container-form-registration .form-registration .form-div-registration label {
  font-weight: bold;
}
.main-registration .container-form-registration .form-registration .form-div-registration input,
.main-registration .container-form-registration .form-registration .form-div-registration select {
  border-radius: 10px;
  border: #063D40 solid 1px;
  border-radius: 10px;
  height: 3rem;
}
.main-registration .container-form-registration .form-registration .form-div-registration textarea {
  border-radius: 10px;
  border: #063D40 solid 1px;
  border-radius: 10px;
  height: 10rem;
}
.main-registration .container-form-registration .form-registration .button-form-div-registration {
  align-self: center;
  display: flex;
}
.main-registration .container-form-registration .form-registration .button-form-div-registration input {
  border-radius: 10px;
  border: 0.1rem solid #063D40;
  margin: 1rem;
  padding: 1rem 2rem;
  flex-basis: 100%;
  flex-direction: column;
  background-color: #063D40;
  color: #F5F5F5;
}

.body-header-soft {
  position: relative;
}

.header-header-soft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-header-soft a {
  color: inherit;
  text-decoration: none;
}
.header-header-soft .logo-header-soft {
  width: 18rem;
}
.header-header-soft .logo-header-soft img {
  width: 100%;
}
.header-header-soft .logo-header-soft .title-header-soft h1 {
  font-size: 4rem;
  margin: 0;
}

.main-erre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.main-erre .img-erre {
  border: solid 1px #063D40;
  width: 100%;
}

.div-img-erre {
  max-width: 100%;
}

.corsell-strong-erre {
  font-weight: 600;
  font-size: 2rem;
}

.main-jointhecrew {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
.main-jointhecrew .div-img-jointhecrew {
  align-items: center;
  max-width: 840px;
}
.main-jointhecrew .div-img-jointhecrew img {
  max-width: 100%;
}
.main-jointhecrew .div-img-jointhecrew iframe {
  width: 800px;
  height: 500px;
}
@media only screen and (max-width: 768px) {
  .main-jointhecrew .div-img-jointhecrew iframe {
    width: 400px;
    height: 200px;
  }
}

.div-p-title-registration {
  position: absolute;
  top: 4.5rem;
  right: 50rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Spectral", serif, Courier, monospace;
  max-width: 32rem;
}
.div-p-title-registration p {
  margin: 0;
}

.connexion-container .element-block .btn-security {
  font-size: 2rem;
  color: #F5F5F5;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1.5rem 2rem;
  background-color: #063D40;
}

.espaceUser-container {
  display: flex;
  flex-direction: column;
  padding: 6rem;
}
.espaceUser-container .baniere-Usercategories {
  display: flex;
}
.espaceUser-container .baniere-Usercategories .espaceUser-title {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
}
.espaceUser-container .baniere-Usercategories .espaceUser-title h1 {
  font-family: "Spectral", serif;
  font-size: 2rem;
  text-align: center;
}
.espaceUser-container .baniere-Usercategories .espaceUser-title h1 span {
  color: #063D40;
}
.espaceUser-container .baniere-Usercategories .espaceUser-title .avatar-user {
  display: flex;
  justify-content: center;
  padding: 0.1rem;
  max-width: 25rem;
  min-width: 20rem;
  max-height: 25rem;
}
.espaceUser-container .baniere-Usercategories .espaceUser-title .avatar-user img {
  max-width: 100%;
  max-height: 100%;
  border: solid 0.2rem #063D40;
}
.espaceUser-container .baniere-Usercategories .user-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 80%;
  padding: 0 10rem;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category {
  display: flex;
  width: 35rem;
  height: 10rem;
  margin-top: 2rem;
  margin-right: 5rem;
  background-color: #F5F5F5;
  justify-content: space-around;
  align-items: center;
  border-radius: 1rem;
  border: solid 0.1rem #063D40;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category .img-Usercategory {
  display: flex;
  align-items: center;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category .img-Usercategory img {
  width: 100%;
  border-radius: 1rem;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category .title-Usercategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spectral", serif;
  flex-wrap: wrap;
  flex-basis: 60%;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category .title-Usercategory h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
.espaceUser-container .baniere-Usercategories .user-categories .user-category .title-Usercategory p {
  margin: 0;
  font-size: 1.6rem;
}
.espaceUser-container .baniere-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6rem 4rem 4rem 4rem;
}
.espaceUser-container .baniere-products h1 {
  width: 100%;
  text-decoration: underline;
  font-size: 2.4rem;
}
.espaceUser-container .baniere-products a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 12%;
}
.espaceUser-container .baniere-products a .product-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.espaceUser-container .baniere-products a .product-item img {
  width: 20rem;
  border: solid 0.1rem #063D40;
}
.espaceUser-container .baniere-products a .product-item h2 {
  text-align: center;
  font-family: "Spectral", serif;
  font-size: 2.2rem;
  margin: 0;
}

.container-corsellmobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-header-corsellmobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  border-radius: 10px;
  margin: 4% 40%;
  text-align: center;
  font-weight: 600;
  padding: 3rem 0;
}
.div-header-corsellmobile .title-corsellmobile p {
  font-size: 2rem;
  font-weight: 600;
}

.bottom-corsellMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  font-size: 2rem;
  font-weight: 600;
}
.bottom-corsellMobile .svg-div-bottom-cossellMobile {
  display: flex;
}
.bottom-corsellMobile .svg-div-bottom-cossellMobile div {
  margin: 2rem 4rem;
}

.products-container {
  background-color: #F5F5F5;
  padding: 8rem 2rem;
  min-height: 50rem;
}
.products-container .main-title {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-container .main-title h1 {
  margin: 0;
}
.products-container .main-title .add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.8rem;
  font-weight: 600;
  background-color: #063D40;
  color: #F5F5F5;
  padding: 1rem;
  border-radius: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
.products-container .products-banner {
  display: flex;
  flex-wrap: wrap;
}
.products-container .products-banner .productcard {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0 0;
}
.products-container .products-banner .productcard .product-img {
  width: 25rem;
  height: 25rem;
}
.products-container .products-banner .productcard .product-img img {
  width: 100%;
  max-height: 100%;
  border: #063D40 solid 0.1rem;
}
.products-container .products-banner .productcard .product-info {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.products-container .products-banner .productcard .product-info .product-name {
  text-align: center;
  font-weight: bold;
}
.products-container .products-banner .productcard .product-info .delete-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #063D40;
  color: #F5F5F5;
  padding: 0.7rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.products-container .products-banner .productcard .product-info .edit-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #063D40;
  color: #F5F5F5;
  padding: 0.7rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 5rem;
}
.products-container .products-banner .productcard .product-info .price {
  text-decoration: line-through;
}
.products-container .products-banner .productcard .product-info .promo {
  color: brown;
  font-weight: bold;
  width: 65%;
}

.products {
  display: flex;
}
.products .product .product-img {
  border: 1px solid #063D40;
}
.products .product .product-information {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=main.css.map */
